.main {
  flex: 1;
  padding-top: 50px;
}

.main p {
  margin-bottom: 10px;
}

.btn {
  padding: 5px 20px;
  background-color: chartreuse;
  color: #000;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 20px auto;
  display: block;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}
